**/target/*
**/lib/*
**/log/*
**/.idea/*
**/.springBeans
**/.cache-main
**/.cache-tests
**/META-INF
*.iml
*.ipr
*.iws
*.log
**/__pycache__/*
**/test-reports/*

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

/target/
